<div ng-init="_ngOnInit()">
    <div>
        <ol class="breadcrumb">
            <li><a href>Home</a></li>
            <li class="active"><a href>Category 01</a></li>
        </ol>
    </div>

    <!--Forum description-->
    <div>
        <h1 class="topics-title">
            <a href>
                Your first
                forum
            </a>
        </h1>
    </div>

    <!--Add topic & pagination-->
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-primary btn-add-topic"
                    ng-click="_ngOnAddTopicClicked()">
                <span class="fa fa-plus"></span>
                <span>New topic</span>
            </button>
        </div>
        <div class="col-xs-8">
            <div class="text-right">
                <ul class="pagination pagination-sm">
                    <li><a href>&laquo;</a></li>
                    <li><a href>&lsaquo;</a></li>
                    <li><a href>1</a></li>
                    <li><a href>2</a></li>
                    <li><a href>3</a></li>
                    <li><a href>4</a></li>
                    <li><a href>5</a></li>
                    <li><a href>&rsaquo;</a></li>
                    <li><a href>&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Topics list-->
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <div ng-repeat="topic in _loadTopicsResult.records">
                    <div class="row topic-container">
                        <div class="col-md-10 col-sm-8 topic-main-info">
                            <div class="topic-image">
                                <img src="https://via.placeholder.com/64x64"/>
                            </div>
                            <div class="topic-title"
                                 ui-sref="{{urlStateConstant.topicModuleName}}">
                                <a href class="main-title">{{topic.title}}</a>
                                <div class="topic-creator">
                                    &raquo; <a href>
                                    <small>{{topic.creator.username}}</small>
                                </a>
                                </div>
                                <div>
                                    &raquo; <a href>
                                    <small>2018-01-01</small>
                                </a>
                                </div>
                            </div>
                        </div>

                        <div class="topic-info">
                            <div class="col-md-1 col-sm-2 col-xs-6 topic-views">
                                <div>
                                    <span class="views-number"> 1216 </span>
                                    <div>
                                        <small>Replies</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-6 topic-views">
                                <div>
                                    <span class="views-number"> 368 </span>
                                    <div>
                                        <small>Followers</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Add topic & pagination-->
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-primary btn-add-topic">
                <span class="fa fa-plus"></span>
                <span>New topic</span>
            </button>
        </div>
        <div class="col-xs-8">
            <div class="text-right">
                <ul class="pagination pagination-sm">
                    <li><a href>&laquo;</a></li>
                    <li><a href>&lsaquo;</a></li>
                    <li><a href>1</a></li>
                    <li><a href>2</a></li>
                    <li><a href>3</a></li>
                    <li><a href>4</a></li>
                    <li><a href>5</a></li>
                    <li><a href>&rsaquo;</a></li>
                    <li><a href>&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <ol class="breadcrumb">
            <li><a href>Home</a></li>
            <li class="active"><a href>Category 01</a></li>
        </ol>
    </div>
</div>