<div class="box box-widget"
     ng-init="init()">
    <div class="box-header with-border">
        <div class="user-block">
            <img class="img-circle" ng-src="/assets/images/avatar.png" alt="User Image">
            <span class="username">
                <a href="javascript:void(0);">{{postOwner.nickname}}</a>
            </span>
            <span class="description">Shared publicly - {{post.createdTime | amFromUnix | amDateFormat: 'LLLL'}}</span>
        </div>
        <div class="pull-right box-tools"
             ng-if="audienceProfile">
            <div data-toggle="tooltip" title="{{'Follow post' | translate}}">
                <button class="btn btn-flat"
                        ng-class="{'bg-red': (buffer.followingPosts[post.id] != null)}"
                        type="button" data-toggle="dropdown">
                    <span class="fa"
                          ng-class="{'fa-heart': buffer.followingPosts[post.id], 'fa-heart-o': !buffer.followingPosts[post.id]}">
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="box-body">
        <p>{{post.body}}</p>
        <span class="pull-right text-muted">{{result.getComments.total}} comments</span>
    </div>
    <div class="box-footer box-comments">
        <div class="box-comment"
             ng-repeat="comment in result.getComments.records">
            <img class="img-circle img-sm" ng-src="/assets/images/avatar.png" alt="User Image">
            <div class="comment-text">
                <span class="username">{{buffer.users[comment.ownerId].nickname}}
                    <span class="text-muted pull-right">{{comment.createdTime| amFromUnix | amDateFormat: 'LLL'}}</span>
                </span>
                {{comment.content}}
            </div>
        </div>
        <div class="box-comment">
            <div class="text-center">
                <ul uib-pagination
                    item-per-page="appSettings.pagination.comments"
                    total-items="result.getComments.total"
                    ng-model="condition.getComments.pagination.page"
                    ng-change="getComments()"></ul>
            </div>
        </div>
    </div>
    <div class="box-footer"
         ng-if="audienceProfile">
        <form novalidate
              ng-submit="addComment($event)"
              name="addCommentForm">
            <img class="img-responsive img-circle img-sm" ng-src="/assets/images/avatar.png" alt="Alt Text">
            <div class="img-push">
                <div class="input-group">
                    <input type="text"
                           class="form-control input-sm"
                           ng-model="model.content"
                           placeholder="{{'Add a comment' | translate}}"

                           required>
                    <span class="input-group-btn">
                        <button ng-disabled="addCommentForm.$invalid"
                                type="submit"
                                class="btn btn-sm btn-flat btn-primary">
                            <span class="fa fa-send"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>