<div class="box box-info">
    <div class="box-header" ng-if="ngIsHeaderAvailable">
        <h3 class="box-title">{{'User picker' | translate}}</h3>
        <div class="box-tools pull-right">
            <button type="button"
                    class="btn btn-box-tool"
                    data-widget="remove"
                    ng-click="cancel()">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">

        <!--Email & nick name-->
        <div class="row">
            <!--Email-->
            <div class="col-lg-6">
                <label>{{'Email' | translate}}</label>
                <div class="form-group">
                    <input class="form-control"
                           placeholder="{{'Email' | translate}} ({{'optional' | translate}})"
                           ng-model="model.email">
                </div>
            </div>

            <div class="col-lg-6">
                <label>{{'Nick name' | translate}}</label>
                <div class="form-group">
                    <input class="form-control"
                           placeholder="{{'Nick name' | translate}} ({{'optional' | translate}})"
                           ng-model="model.nickname">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button class="btn btn-flat btn-primary">{{'Search' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body"
         ng-show="getUserResult && getUserResult.records && getUserResult.records.length > 0">
        <table class="table table-condensed table-responsive"
               datatable
               dt-options="dtOptions.userPicker"
               dt-columns="dtColumns.userPicker"
               width="100%">
        </table>
    </div>
</div>