<div class="card-body">
  <div class="row">
    <div class="col-md-3">
      <label>{{ 'TITLE_EMAIL' | translate }}</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>{{user.email}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>{{ 'TITLE_NICKNAME' | translate }}</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>{{user.nickname}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>{{ 'TITLE_STATUS' | translate }}</label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="select">
          <select [(ngModel)]="user.status" class="form-control">
            <option *ngFor="let item of availableUserStatuses" [value]="item">{{item | toUserStatusTitle |
              translate}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary"
              (click)="ngOnOkClicked()">{{'TITLE_SAVE' | translate}}
      </button>
      <button class="btn btn-default marginLeft"
              (click)="ngOnCancelClicked()">{{'TITLE_CANCEL' | translate}}
      </button>
    </div>
  </div>
</div>
