<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">{{'Search for posts' | translate}}</h3>
        <div class="box-tools pull-right">
            <button type="button"
                    class="btn btn-box-tool"
                    data-widget="remove"
                    ng-click="cancel()">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <!--Post title & post types-->
        <div class="row">
            <!--Post title-->
            <div class="col-lg-6">
                <label>{{'Title' | translate}}</label>
                <div class="form-group">
                    <input class="form-control"
                           placeholder="{{'Title of post' | translate}}"
                           ng-model="model.title">
                </div>
            </div>

            <!--Type of posts-->
            <div class="col-lg-6">
                <label>{{'Types' | translate}}</label>
                <div class="form-group">
                    <select class="form-control"></select>
                </div>
            </div>
        </div>

        <!--Post owner & statuses-->
        <div class="row">
            <!--Post owner-->
            <div class="col-lg-6">
                <label>{{'Post owner' | translate}}</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-flat btn-info">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!--Statuses-->
            <div class="col-lg-6">
                <label>{{'Statuses' | translate}}</label>
                <div class="form-group">
                    <select class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="text-center">
            <button class="btn btn-flat btn-primary">
                {{'Search' | translate}}
            </button>
        </div>
    </div>
</div>