<div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">User</a>
      </li>
      <li class="breadcrumb-item active">Manage</li>
    </ol>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> List user
      </div>
      <div class="card-body">
        <p-table [value]="users" [responsive]="true" [lazy]="true"
                 [rowsPerPageOptions]="[5,10,20]" (onLazyLoad)="loadCarsLazy($event)" [rows]= "5"
                 [totalRecords]="totalUser"
                 [paginator]="true" sortMode="multiple">
          <ng-template pTemplate="header">
            <tr>
              <th>Email</th>
              <th>Nickname</th>
              <th>Status</th>
              <th>Role</th>
              <th>Joined time</th>
              <th>Last modified time</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{user.email}}</td>
              <td>{{user.nickname}}</td>
              <td>{{user.status}}</td>
              <td>{{user.role}}</td>
              <td>{{user.joinedTime}}</td>
              <td>{{user.lastModifiedTime}}</td>
              <td>
                <span class="fas fa-edit greenColor pointer" (click)="editUser(user.id)"></span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <div class="form-group">
      <user-detail [userId]="selectedUserId"></user-detail>
    </div>
  </div>
