<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">User</a>
    </li>
    <li class="breadcrumb-item active">Manage</li>
  </ol>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> List user
    </div>
    <div class="card-body">
      <div *ngIf="users">

        <!--<p-table [value]="users" class="table" [rows]="5">-->
        <!--<p-column field="id" header="Id" [sortable]="true">-->
        <!--</p-column>-->
        <!--<p-column field="email" header="Email" [sortable]="true">-->
        <!--</p-column>-->
        <!--<p-column field="nickname" header="Nick Name" [sortable]="true">-->
        <!--</p-column>-->
        <!--<p-column field="status" header="Status" [sortable]="true">-->
        <!--</p-column>-->
        <!--<p-column field="photo" header="Photo" [sortable]="true">-->
        <!--</p-column>-->
        <!--<p-column header="Action">-->
        <!--<ng-template let-user="rowData" let-index="rowIndex" pTemplate="body">-->
        <!--<span (click)="editUser(user)" class="fa fa-edit pointer" style="color: green"></span>-->
        <!--&lt;!&ndash;<span href="" class="fa fa-trash-alt trashCan"></span>&ndash;&gt;-->
        <!--</ng-template>-->
        <!--</p-column>-->
        <!--</p-table>-->

        <p-table [value]="users" [responsive]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Email</th>
              <th>Nickname</th>
              <th>Status</th>
              <th>Role</th>
              <th>Joined time</th>
              <th>Last modified time</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{user.email}}</td>
              <td>{{user.nickname}}</td>
              <td>{{user.status}}</td>
              <td>{{user.role}}</td>
              <td>{{user.joinedTime}}</td>
              <td>{{user.lastModifiedTime}}</td>
            </tr>
          </ng-template>
        </p-table>

        <!--<pagination-controls id="some_id"-->
                             <!--(pageChange)="pageChanged($event)"-->
                             <!--maxSize="9"-->
                             <!--directionLinks="true"-->
                             <!--autoHide="true"-->
                             <!--responsive="true"-->
                             <!--previousLabel="Previous"-->
                             <!--nextLabel="Next"-->
                             <!--screenReaderPaginationLabel="Pagination"-->
                             <!--screenReaderPageLabel="page"-->
                             <!--screenReaderCurrentLabel="You're on page">-->
        <!--</pagination-controls>-->

      </div>

    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  <div class="form-group">
    <user-detail [userId]="selectedUserId"></user-detail>
  </div>
</div>
