<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <a href="javascript:void(0);"
               class="navbar-brand" ui-sref="{{urlStates.dashboard.name}}">
                <b>iConfess</b>
            </a>
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="javascript:void(0);"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img ng-if="profile"
                             ng-src="{{profile.photo}}"
                             class="user-image"
                             alt="User Image">

                        <span class="hidden-xs"
                              ng-if="profile">{{profile.nickname}}
                        </span>

                        <span class="fa fa-user-secret" ng-if="!profile"></span>
                        <span class="hidden-xs"
                              ng-if="!profile">
                            {{'Anonymous' | translate}}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header"
                            ng-if="profile">
                            <img ng-src="{{profile.photo}}"
                                 class="img-circle"
                                 alt="User Image">
                            <p>
                                {{profile.nickname}}
                                <small>{{'Member since' | translate}} {{profile.joinedTime| amFromUnix | amDateFormat: 'LLL'}}</small>
                            </p>
                        </li>

                        <!-- Menu Footer (Authorized)-->
                        <li class="user-footer"
                            ng-if="profile">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default btn-flat"
                                        ng-click="fnSignOut()">
                                    {{'Sign out' | translate}}
                                </button>
                            </div>
                        </li>

                        <!--Menu footer (unauthorized)-->
                        <li class="user-footer"
                            ng-if="!profile">

                            <!--Login (Google)-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <button class="btn btn-flat btn-block btn-default" ng-click="fnGoogleSignIn()">
                                            <span>{{'Sign in using' | translate}} Google</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!--Basic login-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <button class="btn btn-flat btn-block btn-default"
                                                ng-click="fnBasicLogin()">
                                            <span>{{'Sign in' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!--Register-->
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <button class="btn btn-flat btn-block btn-primary">
                                            <span>{{'Register' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>