<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <a href="javascript:void(0);"
               class="navbar-brand" ui-sref="{{urlStates.dashboard.name}}">
                <b>{{ngApplicationTitle}}</b>
            </a>
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0);"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       ng-click="fnLogin()">

                        <span ng-if="profile">
                            <img ng-src="{{profile.photo}}"
                                 class="user-image"
                                 alt="User Image">
                            <span class="hidden-xs">{{profile.nickname}}
                            </span>
                        </span>


                        <span ng-if="!profile">
                            <span class="fa fa-user-secret"> </span>
                            <span class="hidden-xs">
                                {{'Sign in' | translate}}
                            </span>
                        </span>

                    </a>

                    <ul class="dropdown-menu"
                        ng-if="profile"
                        ng-transclude="userMenu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img ng-src="{{profile.photo}}"
                                 class="img-circle"
                                 alt="User Image">
                            <p>
                                {{profile.nickname}}
                                <small>{{'Member since' | translate}} {{profile.joinedTime| amFromUnix | amDateFormat:'LLL'}}
                                </small>
                            </p>
                        </li>

                        <!-- Menu Footer (Authorized)-->
                        <li class="user-footer"
                            ng-if="profile">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default btn-flat"
                                        ng-click="fnSignOut()">
                                    {{'Sign out' | translate}}
                                </button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>