<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a routerLink="/manage-category-group" routerLinkActive="active">Category Group</a></li>
  </ol>
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> List Category Group
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <label>{{'TITLE_STATUS' | translate}}</label>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="select form-control" [(ngModel)]="cgStatus">
              <option *ngFor="let item of availableCGStatuses" [value]="item">
                {{item | toCategoryGroupStatusTitle | translate}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <label>{{'TITLE_NAME' | translate}}</label>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchName"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="searchCategoryGroup()">Search</button>
          </div>
        </div>
      </div>
      <p-table [value]="searchCategoryGroupResults.records" [responsive]="true" [lazy]="true"
               [rowsPerPageOptions]="[5,10,20]" (onLazyLoad)="loadCategoryGroupLazy($event)" [rows]= "5"
               [totalRecords]="searchCategoryGroupResults.total"
               [paginator]="true" sortMode="multiple">
        <ng-template pTemplate="header">
          <tr>
            <th>{{'TITLE_NAME' | translate}}</th>
            <th>{{'TITLE_DESCRIPTION' | translate}}</th>
            <th>{{'TITLE_CREATED_TIME' | translate}}</th>
            <th>{{'TITLE_ACTION' | translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoryGroup>
          <tr>
            <td>{{categoryGroup.name}}</td>
            <td>{{categoryGroup.description}}</td>
            <td>{{categoryGroup.createdTime}}</td>
            <td>
              <span class="fas fa-edit greenColor pointer" (click)="editCategoryGroup(categoryGroup.id)"></span>
              <span class="fas fa-trash pointer trashCan"></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="addNewCategoryGroup()">New Category Group</button>
    </div>
  </div>
</div>
