<div class="box box-widget"
     ng-init="init()">

    <!--Post owner information-->
    <div class="box-header with-border">
        <div class="user-block">
            <img class="img-circle"
                 ng-src="{{buffer.users[ngPost.ownerId].photo}}"
                 alt="User Image">
            <span class="username"
                  ui-sref="{{urlStates.user.profile.name}}({profileId: ngPost.ownerId})">
                <a href="javascript:void(0);">{{buffer.users[ngPost.ownerId].nickname}}</a>
            </span>
            <span class="description">
                <b>{{fnGetPostTypeName(ngPost.type) | translate}}</b> - {{ngPost.createdTime| amFromUnix | amDateFormat: 'LLL'}}
            </span>
        </div>
        <div class="pull-right box-tools"
             ng-if="ngAudienceProfile">
            <div data-toggle="tooltip"
                 uib-tooltip="{{'Follow post' | translate}}">
                <button class="btn btn-flat"
                        ng-class="{'bg-red': (ngIsFollowingPost)}"
                        type="button"
                        data-toggle="dropdown">
                    <span class="fa"
                          ng-class="{'fa-heart': ngIsFollowingPost, 'fa-heart-o': !ngIsFollowingPost}">
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!--Post content-->
    <div class="box-body">
        <div class="row form-group">
            <div class="col-lg-12"
                 ng-transclude="postContent">
                {{ngPost.body}}
            </div>
        </div>
        <span class="pull-right text-muted">
            <span ng-if="buffer.followerCounter != null">{{buffer.followerCounter}} <span
                    class="fa fa-heart"></span></span>
            <span ng-if="ngIsCommentAvailable"> {{result.getComments.total}} <span class="fa fa-comments"></span></span>
        </span>
    </div>

    <!--Box footer-->
    <div class="box-footer box-comments"
         ng-if="ngIsCommentAvailable">
        <div class="box-comment"
             ng-repeat="comment in result.getComments.records">
            <img class="img-circle img-sm"
                 style="cursor: pointer"
                 ng-src="{{buffer.users[comment.ownerId].photo}}"
                 ui-sref="{{urlStates.user.profile.name}}({profileId: ngPost.ownerId})"
                 alt="User Image">
            <div class="comment-text">
                <span class="username">
                    <a href="javascript:void(0);"
                       ui-sref="{{urlStates.user.profile.name}}({profileId: ngPost.ownerId})">
                        {{buffer.users[comment.ownerId].nickname}}
                    </a>
                    <span class="text-muted pull-right">{{comment.createdTime| amFromUnix | amDateFormat: 'LLL'}}</span>
                </span>
                <small>{{comment.content}}</small>
            </div>
        </div>
        <div class="box-comment">
            <div class="text-center">
                <ul uib-pagination
                    item-per-page="appSettings.pagination.comments"
                    total-items="result.getComments.total"
                    ng-model="condition.getComments.pagination.page"
                    ng-change="getComments()"></ul>
            </div>
        </div>
    </div>

    <!--Comment box-->
    <div class="box-footer"
         ng-if="ngAudienceProfile && ngIsCommentSubmissionAvailable">
        <form novalidate
              ng-submit="addComment($event)"
              name="addCommentForm">
            <img class="img-responsive img-circle img-sm"
                 ng-src="{{buffer.users[ngPost.ownerId].photo}}"
                 alt="Alt Text">
            <div class="img-push">
                <div class="input-group">
                    <input type="text"
                           class="form-control input-sm"
                           ng-model="model.content"
                           placeholder="{{'Add a comment' | translate}}"

                           required>
                    <span class="input-group-btn">
                        <button ng-disabled="addCommentForm.$invalid"
                                type="submit"
                                class="btn btn-sm btn-flat btn-primary">
                            <span class="fa fa-send"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>