<form class="box box-primary"
      novalidate name="postInitiatorForm">
    <div class="box-header with-border">
        <h3 class="box-title">{{'Create a post' | translate}}</h3>
        <span class="box-tools pull-right">
            <button class="btn btn-flat btn-sm btn-danger">
                <span>&times;</span>
            </button>
        </span>
    </div>
    <div class="box-body">
        <!--Title-->
        <div class="row">
            <div class="col-sm-12">
                <label>{{'Title' | translate}}</label> <b class="text-danger">*</b>
                <div class="form-group">
                    <input class="form-control"
                           name="txtPostTitle"
                           ng-model="model.title"
                           required>
                </div>
            </div>
        </div>

        <!--Body-->
        <div class="row">
            <div class="col-sm-12">
                <label>{{'Content' | translate}}</label> <b class="text-danger">*</b>
                <div class="form-group">
                    <!--<input class="hidden"-->
                           <!--name="txtPostContent"-->
                           <!--hidden-->
                           <!--ng-model="model.content"-->
                           <!--required>-->
                    <!--<trix-editor angular-trix-->
                                 <!--ng-model="model.content">-->
                    <!--</trix-editor>-->
                    <trix-editor spellcheck="false"
                                 class="trix-content"
                                 ng-model="trix"
                                 angular-trix >
                    </trix-editor>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label>This is the body</label>
                <div class="form-group">
                    {{trix}}
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-flat btn-primary"
                        ng-disabled="postInitiatorForm.$invalid">{{'OK' | translate}}</button>
            </div>
        </div>
    </div>
</form>