<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item" routerLink="/user/manage-users" routerLinkActive="active">
    <a class="nav-link" href="javascript:void(0);">
      <i class="fas fa-fw fa-users"></i>
      <span>&nbsp;</span>
      <span>{{'TITLE_USER_MANAGEMENT'|translate}}</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/category-group/manage">
      <i class="fas fa-fw fa-book"></i>
      <span>{{'TITLE_USER_CATEGORY_GROUP'|translate}}</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/category/manage">
      <i class="fas fa-fw fa-book"></i>
      <span>{{'TITLE_USER_CATEGORY'|translate}}</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>
</ul>
