<section class="content-header">
    <h1>
        {{category.name}}
        <small ng-if="bIsFollowingCategory">
            <a href="javascript:void(0);">({{'Followed' | translate}})</a>
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> {{'Home' | translate}}</a></li>
        <li class="active">
            {{category.name}}
        </li>
    </ol>
</section>

<section class="content">

    <!--Basic search box-->
    <div class="row form-group"
         ng-if="!bUsingAdvancedSearch">
        <form class="col-sm-12"
              ng-submit="fnBasicSearch($event)"
              novalidate>
            <div class="input-group">
                <input class="form-control"
                       placeholder="{{'Search for post' | translate}} ..."
                       ng-model="loadDataCondition.post.title">
                <span class="input-group-btn">
                    <button class="btn btn-flat btn-info"
                            type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                    <button type="button"
                            class="btn btn-flat btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li ng-click="clickAdvancedSearch(true)">
                          <a href="javascript:void(0);">
                              {{'Advanced search' | translate}}
                          </a>
                      </li>
                    </ul>
                </span>
            </div>
        </form>
    </div>

    <!--Advanced search box-->
    <div class="row form-group"
         ng-if="bUsingAdvancedSearch">
        <form class="col-sm-12"
              novalidate
              ng-submit="fnAdvanceSearch($event)">
            <div class="box box-info">
                <div class="box-header">
                    <span class="fa fa-search"></span>
                    <span class="box-title">{{'Advanced search' | translate}}</span>
                    <div class="pull-right box-tools">
                        <button type="button"
                                class="btn btn-flat btn-danger btn-sm"
                                ng-click="clickAdvancedSearch(false)">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">

                    <!--Owner & title-->
                    <div class="row">

                        <!--Owner-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Owner' | translate}}</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat btn-info">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Title-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Title' | translate}}</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input class="form-control"
                                       placeholder="{{'Title' | translate}}"
                                       ng-model="loadDataCondition.post.title">
                            </div>
                        </div>
                    </div>

                    <!--Created time-->
                    <div class="row">

                        <!--Created time (from)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Created time' | translate}} ({{'from' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat btn-info">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Created time (to)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Created time' | translate}} ({{'to' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="{{'Title' | translate}}">
                            </div>
                        </div>
                    </div>

                    <!--Last modified time-->
                    <div class="row">

                        <!--Last modified time (from)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Last modified time' | translate}} ({{'from' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat btn-info">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Last modified time (to)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Last modified time' | translate}} ({{'to' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="{{'Title' | translate}}">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-flat btn-primary">
                            {{'Search' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>

    <div class="row form-group">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-folder-open"></i>

                    <h3 class="box-title">{{'Posts belong to' | translate}} {{category.name}}</h3>

                    <div class="box-tools pull-right">
                        <div class="btn-group">

                            <button type="button"
                                    class="btn btn-flat btn-sm"
                                    ng-class="{'bg-red': bIsFollowingCategory}"
                                    data-toggle="tooltip"
                                    title="{{'Add to favorite' | translate }}">
                                <i class="fa fa-heart"></i>
                            </button>

                            <button type="button"
                                    data-toggle="tooltip"
                                    title="{{'Write a post' | translate }}"
                                    class="btn btn-flat btn-primary btn-sm">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body chat">
                    <!-- chat item -->
                    <div class="item"
                         ng-repeat="post in loadDataResult.posts.records">
                        <img ng-src="/assets/images/avatar.png" alt="user image" class="online">

                        <p class="message">
                            <a href="javascript:void(0)" class="name">
                                <small class="text-muted pull-right">
                                    <i class="fa fa-clock-o"></i> 2:15
                                </small>
                                <label class="label label-info">Mike Doe</label>
                            </a>
                            <b class="text-bold text-success">
                                I would like to meet you to discuss the latest news about
                                the arrival of the new theme. They say it is going to be one the
                                best themes on the market
                            </b>
                        </p>
                        <div class="attachment">
                            <div>
                                I would like to meet you to discuss the latest news about
                                the arrival of the new theme. They say it is going to be one the
                                best themes on the market
                            </div>

                            <div class="pull-right">
                                <button type="button"
                                        class="btn btn-sm btn-flat btn-info">
                                    <span class="fa fa-eye"></span>
                                </button>

                                <!--Follow/unfollow post-->
                                <button class="btn btn-sm btn-flat"
                                        ng-class="{'bg-red': (buffer.followingPosts[post.id] != null)}"
                                        type="button"
                                        data-toggle="tooltip"
                                        title="{{'Follow post' | translate}}">
                                <span class="fa"
                                      ng-class="{'fa-heart': buffer.followingPosts[post.id], 'fa-heart-o': !buffer.followingPosts[post.id]}"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-12">
            <div class="text-center">
                <ul uib-pagination
                    items-per-page="appSettings.pagination.categoryPosts"
                    total-items="loadDataResult.posts.total"
                    ng-model="loadDataCondition.post.pagination.page"
                    ng-change="clickChangePage($event)"></ul>
            </div>
        </div>
    </div>

</section>
