<section class="content-header">
    <h1>
        <b class="text-info">{{category.name}}</b>
        <small ng-if="bIsFollowingCategory"
               ng-click="fnUnfollowCategory(category.id)">
            <a href="javascript:void(0);">({{'Unfollow' | translate}})</a>
        </small>
        <small ng-if="!bIsFollowingCategory"
               ng-click="fnFollowCategory(category.id)">
            <a href="javascript:void(0);">({{'Follow' | translate}})</a>
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-dashboard"></i> {{'Home' | translate}}
            </a>
        </li>
        <li class="active">
            {{category.name}}
        </li>
    </ol>
</section>

<section class="content">

    <!--Basic search box-->
    <div class="row form-group"
         ng-if="!bUsingAdvancedSearch">
        <form class="col-sm-12"
              ng-submit="fnBasicSearch($event)"
              novalidate>
            <div class="input-group">
                <input class="form-control"
                       placeholder="{{'Search for post' | translate}} ..."
                       ng-model="loadDataCondition.post.title">
                <span class="input-group-btn">
                    <button class="btn btn-flat btn-info"
                            type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                    <button type="button"
                            class="btn btn-flat btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li ng-click="clickAdvancedSearch(true)">
                          <a href="javascript:void(0);">
                              {{'Advanced search' | translate}}
                          </a>
                      </li>
                    </ul>
                </span>
            </div>
        </form>
    </div>

    <!--Advanced search box-->
    <div class="row form-group"
         ng-if="bUsingAdvancedSearch">
        <form class="col-sm-12"
              novalidate
              ng-submit="fnAdvanceSearch($event)">
            <div class="box box-info">
                <div class="box-header">
                    <span class="fa fa-search"></span>
                    <span class="box-title">{{'Advanced search' | translate}}</span>
                    <div class="pull-right box-tools">
                        <button type="button"
                                class="btn btn-flat btn-danger btn-sm"
                                ng-click="clickAdvancedSearch(false)">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">

                    <!--Owner & title-->
                    <div class="row">

                        <!--Owner-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Owner' | translate}}</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat btn-info">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Title-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Title' | translate}}</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input class="form-control"
                                       placeholder="{{'Title' | translate}}"
                                       ng-model="loadDataCondition.post.title">
                            </div>
                        </div>
                    </div>

                    <!--Created time-->
                    <div class="row">

                        <!--Created time (from)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Created time' | translate}} ({{'from' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat btn-info">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Created time (to)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Created time' | translate}} ({{'to' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="{{'Title' | translate}}">
                            </div>
                        </div>
                    </div>

                    <!--Last modified time-->
                    <div class="row">

                        <!--Last modified time (from)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Last modified time' | translate}} ({{'from' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat btn-info">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--Last modified time (to)-->
                        <div class="col-sm-2 col-xs-12">
                            <label>{{'Last modified time' | translate}} ({{'to' | translate}})</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <input class="form-control" placeholder="{{'Title' | translate}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-flat btn-primary">
                                {{'Search' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Add a post button-->
    <div class="row form-group">
        <div class="col-sm-12">
            <button class="btn btn-flat btn-block btn-primary"
                    ng-if="profile"
                    ng-click="fnClickAddPost()">{{'Add a post' | translate}}</button>
        </div>
    </div>

    <!--Posts which belong to the current category-->
    <div class="row form-group">
        <div class="col-sm-4"
             ng-repeat="post in loadDataResult.posts.records">
            <post-box ng-post="post"
                      ng-is-following-post="buffer.followingPosts[post.id]"
                      ng-is-comment-available="false"
                      ng-is-follow-post-available="true"
                      ng-users="buffer.users"
                      ng-audience-profile="profile"

                      followed-post="fnFollowedPost(id, status, result)"
                      unfollowed-post="fnUnfollowedPost(id, status, result)">
                <post-content style="cursor: pointer;"
                              ng-click="fnSelectPost(post)">
                    {{post.body}}
                </post-content>
            </post-box>
        </div>
    </div>

    <!--Paginator-->
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="text-center">
                <ul uib-pagination
                    items-per-page="appSettings.pagination.categoryPosts"
                    total-items="loadDataResult.posts.total"
                    ng-model="loadDataCondition.post.pagination.page"
                    ng-change="clickChangePage($event)"></ul>
            </div>
        </div>
    </div>

</section>

<!--Modal dialog: Post details box-->
<script type="text/ng-template"
        id="post-details.html">
    <post-box ng-post="postDetailBox.post"
              ng-users="buffer.users"
              ng-audience-profile="profile"
              ng-is-comment-available="true"
              ng-is-comment-submission-available="true">
    </post-box>
</script>

<!--Modal dialog: Post initiator box-->
<script type="text/ng-template"
        id="post-initiator.html">
    <post-initiator ng-click-cancel="fnCancelAddingPost()"
                    ng-click-create-post="fnAddPost(post)">
    </post-initiator>
</script>
