<section class="content-header">
    <h1>
        {{personalProfile.nickname}}
        <small>
            <a href="javascript:void(0);">{{'Detail' | translate}}</a>
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-dashboard"></i> {{'Home' | translate}}
            </a>
        </li>
        <li class="active">
            {{'Personal profile' | translate}}
        </li>
    </ol>
</section>

<!--Basic profile-->
<section class="content">
    <!--Basic information-->
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{{'Basic information' | translate}}</h3>
                </div>

                <div class="box-body">
                    <!--User avatar-->
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group">
                                    <img ng-src="{{personalProfile.photo ? personalProfile.photo: 'http://via.placeholder.com/512x512'}}"
                                         class="img img-responsive img-thumbnail"
                                         width="256px"
                                         height="256px">
                                </div>
                            </div>
                            <div class="col-xs-12 text-center"
                                 ng-if="profile && (profile.id === personalProfile.id)">
                                <a href="javascript:void(0);" ng-click="fnChangeProfileImage()">
                                    {{'Change image' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">

                        <!--Name-->
                        <div class="row">
                            <div class="col-sm-4"><label>{{'Name' | translate}}</label></div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control"
                                           disabled
                                           value="{{personalProfile.nickname}}">
                                </div>
                            </div>
                        </div>

                        <!--Email-->
                        <div class="row">
                            <div class="col-sm-4"><label>{{'Email' | translate}}</label></div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control"
                                           disabled
                                           value="{{personalProfile.email}}">
                                </div>
                            </div>
                        </div>

                        <!--Password (only available to profile owner & admin)-->
                        <div class="row"
                             ng-if="profile && profile.id === personalProfile.id">
                            <div class="col-sm-4"><label>{{'Password' | translate}}</label></div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="password"
                                               disabled
                                               value="*****************">
                                        <span class="input-group-btn">
                                            <button class="btn btn-flat btn-primary"
                                                    ng-click="fnClickChangePassword()">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Role (User role in system)-->
                        <div class="row">
                            <div class="col-sm-4"><label>{{'Role' | translate}}</label></div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control"
                                           disabled
                                           value="Admin">
                                </div>
                            </div>
                        </div>

                        <!--Joined time-->
                        <div class="row">
                            <div class="col-sm-4"><label>{{'Joined time' | translate}}</label></div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control"
                                           disabled
                                           value="{{personalProfile.joinedTime | amFromUnix | amDateFormat: 'LLL'}}">
                                </div>
                            </div>
                        </div>

                        <!--Last modified time-->
                        <div class="row"
                             ng-if="personalProfile.lastModifiedTime !== null">
                            <div class="col-sm-4"><label>{{'Last modified time' | translate}}</label></div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control"
                                           disabled
                                           value="{{personalProfile.lastModifiedTime | amFromUnix | amDateFormat: 'LLL'}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Detailed information-->
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-body">
                    <uib-tabset justified="true">
                        <!--Posts-->
                        <uib-tab index="0" heading="{{'Posts' | translate}}">

                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <table class="table table-responsive table-condensed"
                                           datatable
                                           dt-options="dtOptions.posts"
                                           dt-columns="dtColumns.posts"
                                           width="100%">
                                    </table>
                                </div>
                            </div>
                        </uib-tab>

                        <!--Comments-->
                        <uib-tab index="1" heading="{{'Comments' | translate}}">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <table class="table table-responsive table-condensed"
                                           datatable
                                           dt-options="dtOptions.comments"
                                           dt-columns="dtColumns.comments"
                                           dt-instance="dtInstances.comments"
                                           width="100%">
                                    </table>
                                </div>
                            </div>
                        </uib-tab>

                        <!--Post reports-->
                        <uib-tab index="2" heading="{{'Post reports' | translate}}"
                                 ng-if="profile && (profile.id === personalProfile.id || profile.role === userRoleConstant.admin)">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <table class="table table-responsive table-condensed"
                                           datatable
                                           dt-options="dtOptions.postReports"
                                           dt-columns="dtColumns.postReports"
                                           dt-instance="dtInstances.postReports"
                                           width="100%">
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="3"
                                 heading="{{'Comment reports' | translate}}"
                                 ng-if="profile && (profile.id === personalProfile.id || profile.role === userRoleConstant.admin)">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <table class="table table-responsive table-condensed"
                                           datatable
                                           dt-options="dtOptions.commentReports"
                                           dt-columns="dtColumns.commentReports"
                                           width="100%">
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Change profile password-->
<script type="text/ng-template"
        id="change-password.html">

    <form class="box box-primary"
          novalidate
          name="changePasswordForm"
          ng-submit="fnSubmitPassword($event, changePasswordForm.$valid)">
        <div class="box-header">
            <h3 class="box-title">{{'Change password' | translate}}</h3>
        </div>
        <div class="box-body">

            <!--Current password-->
            <div class="row">
                <div class="col-lg-4">
                    <label>{{'Current password' | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input class="form-control"
                               type="password"
                               ng-model="model.changePassword.currentPassword"

                               required>
                    </div>
                </div>
            </div>

            <!--Password-->
            <div class="row">
                <div class="col-lg-4">
                    <label>{{'Password' | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input class="form-control"
                               type="password"
                               ng-model="model.changePassword.newPassword"

                               required>
                    </div>
                </div>
            </div>

            <!--Confirm password-->
            <div class="row">
                <div class="col-lg-4">
                    <label>{{'Confirm password' | translate}}</label>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input class="form-control"
                               type="password"
                               ng-model="model.changePassword.confirmPassword"

                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="submit"
                            class="btn btn-flat btn-primary"
                            ng-disabled="changePasswordForm.$invalid">
                        <span>{{'OK' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>

<!--Change profile avatar-->
<script type="text/ng-template"
        id="change-profile-avatar.html">

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">{{'Change profile image' | translate}}</h3>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group text-center profile-image-picker">
                        <!--Placeholder image-->
                        <img ng-src="/assets/images/avatar.png"
                             ng-if="!model.profile.originalImage">
                        <div class="cropper-area"
                             ng-if="model.profile.originalImage">
                            <ui-cropper image="model.profile.originalImage"
                                        area-type="square"
                                        canvas-scalemode="full-width"
                                        result-blob="model.profile.croppedImage"
                                        result-image-size="'max'"></ui-cropper>
                        </div>
                    </div>
                </div>
            </div>

            <!--Profile image uploader-->
            <div class="row"
                 ng-if="!model.profile.originalImage">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="file"
                               nv-file-select=""
                               uploader="fileUploader.profileImageSelector"
                               class="form-control">
                    </div>
                </div>
            </div>

        </div>

        <div class="box-footer">
            <div class="text-center">
                <button class="btn btn-flat btn-primary"
                        ng-if="model.profile.originalImage"
                        ng-disabled="!model.profile.croppedImage"
                        ng-click="fnUploadProfileAvatar()">
                    {{'OK' | translate}}
                </button>
                <button class="btn btn-flat btn-default"
                        ng-click="fnCancelEditProfileImage()">{{'Cancel' | translate}}</button>
            </div>
        </div>
    </div>
</script>