.category-detail-box {

}

.category-detail-box .category-description {
    height: 200px !important;
    overflow-y: auto !important;
    white-space: normal !important;
}

.category-detail-box .category-image {
    height: 150px !important;
}

.category-detail-box .category-description {
    height: 200px !important;
}