<section class="content-header">
    <h1>
        Recent post
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{'Home' | translate}}</a></li>
        <li class="active">{{'Dashboard' | translate}}</li>
    </ol>
</section>

<section class="content"
         ui-view>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="box box-widget widget-user-2">
                    <form class="widget-user-header bg-green"
                          novalidate
                          ng-submit="fnGetCategories($event)">
                        <div class="input-group">
                            <input class="form-control"
                                   placeholder="{{'Search for categories' | translate}} ...">
                            <span class="input-group-btn">
                        <button class="btn btn-info btn-flat">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-sm-12">

            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12"
                     ng-repeat="category in result.getCategories.records">
                    <div class="box box-info category-detail-box">
                        <div class="box-header">
                            <h3 class="box-title">{{category.name}}</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-4">
                                <img class="img img-responsive img-thumbnail"
                                     ng-src="/assets/images/avatar.png">
                            </div>
                            <div class="col-lg-8">
                                <div class="truncate category-description slim-scrollbar">
                                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-responsive table-condensed">
                                <tbody>
                                <tr>
                                    <th>{{'Posts' | translate}}</th>
                                    <td>{{buffer.categoryPostsCounter[category.id]}}</td>
                                </tr>
                                <tr>
                                    <th>{{'Followers' | translate}}</th>
                                    <td>200</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <div class="text-center">
                                <!--View detail buttons-->
                                <button class="btn btn-flat btn-sm btn-info"
                                        ng-click="clickCategory(category)">
                                    <span class="fa fa-eye"></span>
                                </button>

                                <button class="btn btn-flat btn-sm">
                                    <span class="fa fa-heart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
