<section class="content-header">
    <h1>
        {{'Categories' | translate}}
        <small>{{'List' | translate}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{'Home' | translate}}</a></li>
        <li class="active">{{'Dashboard' | translate}}</li>
    </ol>
</section>

<section class="content"
         ng-init="fnInit()">

    <!--Basic search box-->
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <form class="input-group"
                      novalidate
                      ng-submit="fnSearchCategories($event)">
                    <input class="form-control"
                           placeholder="{{'Search for categories' | translate}} ..."
                           ng-model="condition.getCategories.name">
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>

    <!--Pagination-->
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group text-center">
                <ul uib-pagination
                    boundary-links="true"
                    total-items="result.getCategories.total"
                    ng-model="condition.getCategories.pagination.page"
                    ng-change="fnGetCategories()"></ul>
            </div>
        </div>
    </div>

    <!--Categories list-->
    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12"
                     ng-repeat="category in result.getCategories.records">
                    <div class="box box-info category-detail-box">
                        <div class="box-header">
                            <h3 class="box-title">{{category.name}}</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <!--<img class="img img-responsive img-thumbnail category-image"-->
                                         <!--ng-src="{{category.photo}}">-->
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="truncate category-description slim-scrollbar">
                                    {{category.description}}
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-responsive table-condensed">
                                <tbody>
                                <tr>
                                    <th>{{'Posts' | translate}}</th>
                                    <td>
                                        <span ng-if="buffer.categoryPostsCounter[category.id]">{{buffer.categoryPostsCounter[category.id]}}</span>
                                        <span ng-if="!buffer.categoryPostsCounter[category.id]">0</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <div class="text-center">
                                <!--View detail buttons-->
                                <button class="btn btn-flat btn-sm btn-info"
                                        ng-click="clickCategory(category)">
                                    <span class="fa fa-eye"></span>
                                </button>

                                <span ng-if="profile">
                                    <!--Category is being followed-->
                                    <button class="btn btn-flat btn-sm bg-red"
                                            ng-if="buffer.followingCategory[category.id]"
                                            ng-click="fnUnfollowCategory(category.id)">
                                        <span class="fa fa-heart"></span>
                                    </button>
                                    <!--Category IS NOT being followed-->
                                    <button class="btn btn-flat btn-sm"
                                            ng-if="!buffer.followingCategory[category.id]"
                                            ng-click="fnFollowCategory(category.id)">
                                        <span class="fa fa-heart"></span>
                                    </button>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--Pagination-->
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group text-center">
                <ul uib-pagination
                    boundary-links="true"
                    total-items="result.getCategories.total"
                    ng-model="condition.getCategories.pagination.page"
                    ng-change="fnGetCategories()"></ul>
            </div>
        </div>
    </div>
</section>
